node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

env
.env
venv
.venv

.vscode/


ios
android

.DS_Store

.metro-health-check*


node_modules/
bun.lockb

android/
ios/
build/
dist/
.expo/
.expo-shared/

*.log
*.tmp
.DS_Store

*.tsbuildinfo

.env
.env.*.local

.vscode/
